:root {
  /* rgb(119. 122. 131) */
  --text-color: #777a83;

  --text-color-light: rgb(173, 175, 181);

  /* rgb(58. 61. 73) */
  --headers-color: #3a3d49;

  --background-color: #ffffff;
  --buttons-background-color: #ffd141;
  --buttons-text-color: #3a3d49;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(21 / 14);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.ibg {
  position: relative;
  /* padding-bottom: 700px; */
}

.ibg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

[class*='_container'] {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  border: none;
}

/* ------- HEADER ------- */

.header {
}

.header-up {
  /* display: flex;
  align-items: center; */
  height: 58px;
  background-color: #393d4a;
}

.header-up__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-up__wrap {
}

.header-up__svg-phone {
  width: 18px;
  height: auto;
  margin-right: 12px;
}

.header-up__phone {
  display: inline-block;
  margin-right: 22px;

  font-size: 17px;
  font-weight: 700;
  line-height: calc(17 / 17);
  color: rgba(255, 255, 255, 0.79);
}

.header-up__button {
  font-weight: 700;
  line-height: calc(14 / 14);
  color: #ffffff;

  background-color: transparent;
}

.header-up__button:hover,
.header-up__button:focus {
  color: rgba(255, 255, 255, 0.55);
}

.header-up__svg-avatar {
  width: 14px;
  height: auto;
}

.header-up__link {
  display: block;

  font-weight: 700;
  line-height: calc(14 / 14);
  color: #ffffff;
}

.header-up__link:hover,
.header-up__link:focus {
  color: rgba(255, 255, 255, 0.55);
}

.header-up__login {
  padding-left: 11px;
}

.header-mid {
}

.header-mid__container {
  display: flex;
  justify-content: space-between;
}

.header-mid__list {
  display: flex;
  align-items: center;
}

.header-mid__item {
}

.header-mid__item:not(:last-child) {
  margin-right: 30px;
}

.header-mid_link {
  display: block;
}

.header-mid_link-social {
  width: 18px;
  height: auto;
}

.header-mid_link-twitter {
  width: 22px;
  height: auto;
}

.header-mid__link {
}

.header-mid__logo-link {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-mid__logo-img {
}

.header-mid__find {
  align-self: center;
}

.header-mid__button {
  background-color: transparent;
}

.header-mid__link-find {
  margin-left: 30px;
}

.header-mid__button-cart {
  width: 17px;
  height: 17px;
}

.header-mid__link-favorite {
  width: 20px;
  height: auto;
}

.header-mid__link-cart {
  width: 18px;
  height: auto;
}

.header-down {
}

.header-down__list {
  display: flex;
  justify-content: center;
}

.header-down__item {
  width: 90px;
  text-align: center;
}

.header-down__item:not(:last-child) {
  margin-right: 25px;
}

.header-down__link {
  display: inline-block;
  padding-bottom: 35px;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--buttons-text-color);
}

.header-down__link:hover,
.header-down__link:focus {
  color: rgba(58, 61, 73, 0.6);
}

/* .header-down__link:hover ~ .header-down__link-icon,
.header-down__link:focus {
  color: rgba(58, 61, 73, 0.6);
} */

.header-down__link-icon {
  width: 40px;
  height: auto;
}

.header-down__span {
  display: block;
  padding-top: 11px;
}

/* ---------- MAIN --------------- */

/* section banner */

.page__banner {
}

.banner {
  padding-bottom: 33.7%;
}

.banner__img {
  object-position: right;
}

.banner__description {
  position: absolute;
  top: 11%;
  left: 22%;

  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: 200;
  line-height: calc(22 / 50);
  color: var(--headers-color);
  text-transform: uppercase;
  text-align: center;
}

.banner__price {
  display: inline-block;
  margin-bottom: 80px;
}

.banner__name {
  margin-bottom: 80px;

  font-size: 86px;
  font-weight: 700;
  line-height: calc(22 / 86);
  letter-spacing: -1px;
}

.banner__text {
  margin-bottom: 80px;
}

.banner__button {
  padding: 20px 30px;

  font-size: 20px;
  font-weight: 700;
  line-height: calc(14 / 20);
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 3px;
  background-color: #51be42;
}

.banner__button:hover,
.banner__butto:focus {
  color: #ffffff;
  background-color: var(--buttons-text-color);
}

/* section advertise */

.page-advertise {
}

.advertise {
  padding-top: 40px;
}

.advertise__list {
  display: flex;
}

.advertise__item {
  position: relative;
}

.advertise__item:not(:last-child) {
  margin-right: 14px;
}

.advertise__img {
}

.advertise__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px 23px;
  width: 100%;

  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: calc(44 / 30);
  color: #4c4e56;
  text-transform: uppercase;
  text-align: end;
}

.advertise__header {
  margin-bottom: 10px;
  letter-spacing: -1.6px;
}

.advertise__span {
  margin-bottom: 8px;

  font-size: 28px;
  font-weight: 200;
  line-height: calc(35 / 28);
}

.advertise__description--color {
  color: #6f5e4d;
}

.advertise__link {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #4c4e56;
}

/* section products */

.page__products {
}

.products {
  padding-top: 90px;
}

._container {
}
